<h1 class="display-4 py-3 mb-3 border-bottom">
  <%= title %>
</h1>

<form target="<%= url("/") %>" action="post">
  <div class="form-group">
    <label for="InputUsername">Username</label>
    <input name="user" type="text" class="form-control" id="InputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
